@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="notes/by-date" target="_blank">Записи по датам</a>
        </div>
        
        <div class="top-row px-4">
            <a href="notes/all" target="_blank">Все записи</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>